<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- What y-axis do you want in the output graph?
        Choices of MemorySeries and DefaultSeries. -->
        <add key="Column.%ProcessorTime" value="DefaultSeries"/>
        <add key="Column.PrivateBytes" value="MemorySeries"/>
        <add key="Column.ThreadCount" value="DefaultSeries"/>
        <!-- Choices of .png, .jpg, .gif, .tif, .bmp and .emf-->
        <add key="DefaultOutputExtension" value=".png"/>
    </appSettings>
</configuration>